
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@font-face {
    font-family: 'Bright';
    src: url('../src/assets/BrightDemo.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'oleo';
    src: url('../src/assets/OleoScriptSwashCaps-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }